<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaf Data</title>
</head>
<body>
    <h1>Leaf Data</h1>
    <ul>
        {% for leaf in leaves %}
            <li>{{ leaf.shape }}, {{ leaf.color }}, {{ leaf.size }}, {{ leaf.observed_date }}</li>
        {% endfor %}
    </ul>
    
    <h1>Registered Users</h1>
    <ul>
        {% for UserRegister in UserRegisters %}
            <li>{{ UserRegister.name }}, {{ UserRegister.email }}, {{ UserRegister.password }}</li>
        {% endfor %}
    </ul>

    <h1>Plant Images</h1>
    <ul>
        {% for plant_image in plant_images %}
            <li>{{ plant_image.image }}</li>
        {% endfor %}
    </ul>
</body>
</html>
